{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <table class="table table-hover my-2">
            <!-- หัวตาราง -->
            <thead>
                <tr>
                    <th>วันที่บันทึกข้อมูล</th>
                    <th>ชื่อธุรกรรม</th>
                    <th>จำนวนเงิน</th>
                    <th>หมวดหมู่</th>
                    <th>ลบ</th>
                    <th>แก้ไข</th>
                </tr>
            </thead>
            <tbody>
                {% for item in statements %}
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.amount | currencyFormat }}</td>
                    {% if item.category == 'รายรับ'%}
                        <td><span class="badge bg-primary">{{ item.category }}</span></td>
                    {% else %}
                        <td><span class="badge bg-danger">{{ item.category }}</span></td>
                    {% endif %}
                    <td>
                        <a href="/delete/{{ item.id }}" class="btn btn-danger">ลบ</a>
                    </td>
                    <td>
                        <a href="/edit/{{ item.id }}" class="btn btn-success">แก้ไข</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}